*:not(html) {
  background-color: transparent;
  border: none;
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  outline: none;
}
html {
  font-family: 'DM Sans', sans-serif;
  font-size: 12px;
  text-size-adjust: 100%;
}
@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
}
body {
  background-color: hsl(27, 66%, 92%);
}
canvas, img {
  display: block;
}
.auto {
  width: min(91.466666667%, 540px);
  margin-inline: auto;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.space-between {
  justify-content: space-between;
}
.page {
  min-height: 100vh;
}
header, main {
  padding: 1.777777778rem;
  border-radius: 1rem;
}
header {
  background-color: hsl(10, 79%, 65%);
  color: hsl(27, 66%, 92%);
  margin-bottom: 1.333333333rem;
  line-height: 1.6;
}
header .balance strong {
  color: hsl(33, 100%, 98%);
  font-size: 1.75rem;
  font-weight: 700;
}
main {
  background-color: hsl(33, 100%, 98%);
}
main h2 {
  font-size: 1.75rem;
  font-weight: 700;
}
.month {
  border-top: 1px solid hsl(27, 66%, 92%);
  margin-top: 2rem;
  padding-top: 2rem;
}
.month .box:last-child {
  text-align: right;
}
.month p:not(.parcent) {
  color: hsl(28, 10%, 53%);
}
.month h3 {
  font-size: 2.5rem;
  font-weight: 700;
}

:root {
  --Soft-red: hsl(10, 79%, 65%);
  --Cyan: hsl(186, 34%, 60%);
  --Dark-brown: hsl(25, 47%, 15%);
  --Medium-brown: hsl(28, 10%, 53%);
  --Cream: hsl(27, 66%, 92%);
  --Very-pale-orange: hsl(33, 100%, 98%);
}



















